@import '../styles/variables.scss';

.header {
  width: 100%;
  border-bottom: 1px solid $light-gray;
}

.container {
  height: $header-height;
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  padding: 0 1.5em;

  img {
    height: $header-height / 3;
  }
}

.headerNav {
  li {
    display: inline;
  }

  a {
    padding: 0 1.5em;
  }
}
